<!DOCTYPE html>
<html>
<title>Food Analyzer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='styles/functions.js') }}"></script>

<body class="w3-black">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <br>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>ABOUT</p>
    </a>
    <a href="#foodAnalyzer" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>FOOD ANALYZER</p>
    </a>
    <a href="#additionalInfo" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ADDITIONAL INFO</p>
    </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="#foodAnalyzer" class="w3-bar-item w3-button" style="width:25% !important">FOOD ANALYZER</a>
        <a href="#additionalInfo" class="w3-bar-item w3-button" style="width:25% !important">ADDITIONAL INFO</a>
    </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">

    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text-light-grey">About</h2>
        <hr style="width:200px" class="w3-opacity">
        {% for line in readme_text %}
            <p> {{ line }} </p>
        {% endfor %}
        <!-- End About Section -->
    </div>

    <!-- Food Analyzer Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="foodAnalyzer">
        <h2 class="w3-text-light-grey">Analyzer</h2>
        <hr style="width:200px" class="w3-opacity">

        <!-- Grid for Nutrition Information and Food Image -->
        <div class="w3-row-padding" style="margin:0 -16px">
            <form class="box" method="post"
                  action="{{ url_for('execute') }}"
                  enctype="multipart/form-data">
                <label class="w3-half w3-margin-bottom box__input w3-opacity w3-hover-opacity-off"
                       id="file-label"
                       for="file-input"
                       ondragover="stop_event(event);"
                       ondrop="upload_file(event);">

                    <img class="resize_fit_center"
                         src="{{ url_for('static', filename='images/drag_drop_icon.png') }}"
                         ondragenter="file_drag_enter(event);"
                         ondragleave="file_drag_leave(event);">
                </label>

                <input id="file-input" type="file" style="display: none"
                       name="picture" onchange="form.submit()"/>
            </form>

            <div class="w3-half" id="nutrition">
                <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">{{ food }}</li>
                    <li class="w3-large w3-padding-16"><b>{{ calories }}</b></li>
                    {% for nutrient in nutrition_info %}
                        <li class="w3-padding-16">{{ nutrient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Nutrition Information and Food Image Section -->
        </div>
    </div>


    <!-- Additional Info Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="additionalInfo">
        <h2 class="w3-text-light-grey">Additional Information</h2>
        <hr style="width:200px" class="w3-opacity">
        {% if additionalInformation %}
            <p> {{ additionalInformation }} </p>
        {% else %}
            <p> No information was found on your food. </p>
        {% endif %}
        <!-- End Additional Info Section -->
    </div>

    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <p class="w3-medium">Created by
            <a href="https://github.com/ChrisBrown46/" target="_blank" class="w3-hover-text-green">ChrisBrown46</a>
        </p>
        <!-- End footer -->
    </footer>

    <!-- END PAGE CONTENT -->
</div>

</body>
</html>
